.ContainerMenuLateral {
    padding: 4px 10px;
    background: #FEFEFE;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;

    p{
        font-size: 100%;
    }
}